<div class="container" style="margin: 100px 0">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Editar el precio</h4>
            <form action="/admin/precios/editar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{precio.id_producto}}" name="id_producto"/>
                <div class="mb-3 row">
                    <label for="">Producto</label>
                    <input type="text" class="form-control" name="producto" value="{{precio.producto}}"/>
                </div>
                <div class="mb-3 row">
                    <label for="">Tipo Producto</label>
                    <input type="text" class="form-control" name="tipo_producto" value="{{precio.tipo_producto}}"/>
                </div>
                <div class="mb-3 row">
                    <label for="">Precio</label>
                    <input type="text" class="form-control" name="precio" value="{{precio.precio}}"/>
                </div>
                <div class="mb-3 row">
                    <label for="">Tipo Precio</label>
                    <input type="text" class="form-control" name="tipo_precio" value="{{precio.tipo_precio}}"/>
                </div>
                <div class="mb-3 row">
                    <p>
                    <label>Imagen:<input type="file" name="imagen" id="imagen"/></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1"/>
                        Eliminar imagen actual?</label>
                        <input type="hidden" name="img_original" value="{{precio.img_id}}"/>
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
              
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>